 body{
    font-family:'segoe UI',sans-serif;
    background-color: #fff5f8;
    margin: 0;
    padding: 0;
 }
 header{
    background: linear-gradient(135deg, #9b5de5, #e75480)

 }
 header h1{
    margin: 0;
    font-size: 2.2em;
    letter-spacing: 1px;
 }

 nav ul {
    list-style: none;
    background-color: #7b2cbf;
    text-align: center;
    margin: 0;
    padding: 12px 0;
 }

 nav ul li {
    display: inline-block;
    margin: 0 18px;
 }

 nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;

 }

 nav ul li a:hover{
    color: #ffd6ff;
    text-shadow: 0 0 5px white;
 }

 main{
    text-align: center;
    padding: 40px 0;
 }
 caption {
    color: #5a189a;
    font-size:1.5em;
    font-weight:bold;
    margin-bottom: 15px;

 }
 table{
    margin:0 auto;
    border-collapse: collapse;
    width: 70%;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    overflow: hidden;
 }
 th,td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ffb3c6;

 }
 th{
    background-color: #ff85a1;
    color: white;
    font-size: 18px;

 }

 tr:hover {
    background-color: #ffe5ec;
 }

 
 footer{
    background-color: #7b2cbf;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top:40px;
    font-size:14px;
 }